:root {
  /* Primary */
  --darkCyanColor: hsl(158, 36%, 37%);
  --creamColor: hsl(30, 38%, 92%);
  /* Neutral*/
  --veryDarkBlueColor: hsl(212, 21%, 14%);
  --darkGrayishBlueColor: hsl(228, 12%, 48%);
  --whiteColor: hsl(0, 0%, 100%);
}
